<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="signup-form text-center">
        <form th:action="@{/productos/listarProducto}"  id="sing"  oninput='up2.setCustomValidity(up2.value != contrasenia.value ? "Las contraseñas no coinciden" : "")' style="height: 483px !important; width: 389px; ">
            <div class="text-center">
                <img id="imagen" class="rounded" src="/images/logo-group.svg">
            </div>
            <h2 class="text-warning" style="color:#18DAC8 ;">Iniciar</h2>
            <p class="hint-text">Ingresa tus datos para autenticarte</p>
            <div class="form-group">
                <input type="email" class="form-control btn-secondary bg-light text-secondary" id="correoElectronico" name="correoElectronico" placeholder="Correo electrónico" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control btn-secondary bg-light text-secondary" id="contrasenia" name="contrasenia" placeholder="Contraseña" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn bg-warning btn-lg btn-block" style="background-color:#18DAC8">Iniciar</button>
            </div>
        </form>
    </div>
    
</body>
</html>
