<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <img id="logo" href="#" src="../../../assets/logo.svg">
    <div id="contenido">
        <div class="container border-bottom">
            <div class="div row">
                <div class="col-6 mt-4" >
                    <div class="card texto">
                        <div class="card-body">
                                <h5 class="card-title">Usuarios</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Numero</h6>
                                <p class="card-text">Aqui se encuentran los usuarios registrados en la pagina</p>
                                <a href="#" class="btn">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <div class="card texto" >
                        <div class="card-body">
                                <h5 class="card-title">Empresas Registradas</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Numero</h6>
                                <p class="card-text">Aqui se encuentran las empresas registradas</p>
                                <a href="#" class="btn">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 my-4">
                    <div class="card texto">
                        <div class="card-body">
                                <h5 class="card-title">Clientes Comunes</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Numero</h6>
                                <p class="card-text">Aqui se encuentran los clientes registrados en la pagina</p>
                                <a href="#" class="btn ">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="float:right;width:20%; height: 100rem; background: #18DAC8;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="lista" href=""><img src="../../../assets/usuario.svg" alt=""></a> Administrador <a href="" style="margin-left:20%"><img src="../../../assets/atrass.svg" alt=""></a></li>
          <li class="list-group-item"><a class="lista" href=""><img src="../../../assets/AdministrarPlanillas.svg" alt="">Administrar Planillas</a></li>
          <li class="list-group-item"><a class="lista" href=""><img src="../../../assets/usuarios.svg" alt="">Usuarios</a></li>
          <li class="list-group-item"><a class="lista" href=""><img src="../../../assets/PlanesdePago.svg" alt="">Planes de pago</a></li>
          <li class="list-group-item"><a class="lista" href=""><img src="../../../assets/Ajustes.svg" alt="">Ajustes</a></li>
          <li class="list-group-item "><p></p></li>
        </ul>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>