<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400&display=swap" rel="stylesheet">
</head>
<body>
    <img id="logo" routerLink="/" src="../../../assets/logo.svg">
    <h3>Elige la opción que prefieras</h3>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-5 mt-4">
                    <h6 class="fw-bold mb-1">Usuario para empresas</h6>
                    <p>
                        Crea tu propio sitio para que vendas tus productos.
                        <button class="registro" routerLink="/admin-companies" type="submit">Registrar Empresa</button>
                    </p>
                </div>
                <div class="">
                    <h6 class="fw-bold mb-1">Usuario tipo cliente</h6>
                    <p>
                        Ingresa aqui para que puedas registrate y comprar<br>
                        productos ofrecidos por las empresas registradas.
                        <button class="registro" routerLink="/registroCliente" type="submit">Registrarse</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

