body {
    font-family: 'Gothic A1', sans-serif;
}

#logo {
position: absolute;
width: 254.67px;
height: 191px;
left: 1px;
top: 3px
}

h1 {
    position: absolute;
    width: 439px;
    height: 75px;
    left: 36px;
    top: 340px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;

    color: #000000;
}

p {
    position: absolute;
width: 351px;
height: 57px;
left: 41px;
top: 458px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #000000;
}

#inicio {
position: absolute;
width: 200px;
height: 50px;
left: 41.03px;
top: 540.91px;

background: #18DAC8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 11px;
transform: rotate(0.04deg);
position: absolute;
border-width: 0px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #000000;
}

#inicio:hover {
    background-color: #1bab9d;
    cursor: pointer;
}



#clientes {
position: absolute;
width: 415px;
height: 74px;
left: 41px;
top: 684px;

background: #18DAC8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
border-width: 0px;
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;


color: #000000;
}

#clientes:hover {
    background-color: #1bab9d;
    cursor: pointer;
}

#grupo1 {
    align-content: flex-end;
    position: absolute;
    width: 984px;
    height: 901px;
    margin-right: 0px;
    top: -1px;
    right: 0px;
}

#enlace {
    
}

#inicioSesion {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 41.03px;
    top: 615px;
    
    background: #18DAC8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    transform: rotate(0.04deg);
    position: absolute;
    border-width: 0px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    
    color: #000000;
    }
    #inicioSesion:hover {
        background-color: #1bab9d;
        cursor: pointer;
    }