<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400&display=swap" rel="stylesheet">
</head>
<body>

    <img id="logo" src="../../../assets/logo.svg">
    <h1>Crea tu plataforma de forma intuitiva</h1>
    <p>
    Crea tu página con plantillas personalizadas y personaliza 
    tu web de forma intuitiva.
    </p>
    <button id="inicio">Empezar ya</button>
    <button id="clientes">Revisa nuestros clientes registrados</button>
    <img id="grupo1" src="../../../assets/Group1.svg">
    
</body>
</html>


